.container {
    width: 200px;
    min-width: 200px;
    height: 54px;
    border-radius: 8px;
    margin: 4px;
    background-color: #c68642; // marrón claro
    border-color: #c68642;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}