.container {
  display: flex;

  .leftSection {
    height: 93.2vh;
    background-color: #b46c2d5e;
    min-width: 310px;
    max-width: 320px;
    padding: 16px 2px 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .userCard {
      background-color: #c686429c;
      border-radius: 12px;
      padding: 16px;
      color: white;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin: 0 16px;
      height: 220px;

      .name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 12px;
        text-align: center;
      }

      p {
        font-size: 14px;
        margin: 4px 0;

        strong {
          display: inline-block;
          width: 130px;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }

  .rightSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    overflow: auto;
    padding: 16px;
  }
}